 

<div class="t">
    <div class="tc rel">
        <div class="flipbook" id="flipbook">
            <div class="page"><img src="http://kidslibrary.writereader.com/Books/35449048-d3ac-4a5b-8172-5eb17f066221/Pages/P1.jpg" alt="" /></div>
            <div class="page"><img src="http://kidslibrary.writereader.com/Books/35449048-d3ac-4a5b-8172-5eb17f066221/Pages/P2.jpg" alt="" /></div>
            <div class="page"><img src="http://kidslibrary.writereader.com/Books/35449048-d3ac-4a5b-8172-5eb17f066221/Pages/P3.jpg" alt="" /></div>
            <div class="page"><img src="http://kidslibrary.writereader.com/Books/35449048-d3ac-4a5b-8172-5eb17f066221/Pages/P4.jpg" alt="" /></div>
            <div class="page"><img src="http://kidslibrary.writereader.com/Books/35449048-d3ac-4a5b-8172-5eb17f066221/Pages/P5.jpg" alt="" /></div>
            <div class="page"><img src="http://kidslibrary.writereader.com/Books/35449048-d3ac-4a5b-8172-5eb17f066221/Pages/P6.jpg" alt="" /></div>
        </div>
    </div>
</div>